<h2 class="rp-email-section">Preferenze Email</h2>
<form [formGroup]="form" (ngSubmit)="submit()" class="p-fluid rp-email-form" *ngIf="_user?.notifications">
  <div class="field rp-email-form-field">
    <label for="send_email_on_reservation" class="rp-email-form-label">Invia email alla prenotazione</label>
    <p-toggle-switch
      inputId="send_email_on_reservation"
      formControlName="send_email_on_reservation">
    </p-toggle-switch>
  </div>

  <div class="field rp-email-form-field">
    <label for="send_email_on_deletion" class="rp-email-form-label">Invia email alla cancellazione</label>
    <p-toggle-switch
      inputId="send_email_on_deletion"
      formControlName="send_email_on_deletion">
    </p-toggle-switch>
  </div>
  <p-button type="submit" [disabled]="loading" label="Salva Preferenze Email" styleClass="w-full"></p-button>
  <p-progress-bar *ngIf="loading" mode="indeterminate" [style]="{ height: '6px' }"/>
  <p-message [severity]="message.severity" *ngIf="message">{{ message.text }}</p-message>

</form>
<div *ngIf="!_user?.notifications" class="rp-email-form">
  <p-skeleton width="60%" height="2rem"></p-skeleton>
  <p-skeleton width="60%" height="2rem"></p-skeleton>
  <p-skeleton width="60%" height="2rem"></p-skeleton>
</div>
