.rp-event {
  --p-card-body-padding: 1rem
}

.rp-event .col-12 {
  background: #d1c7a2;
}

.rp-event-title-block {
  --p-button-sm-icon-only-width: 2rem;
  --p-button-sm-font-size: .8rem
}

.rp-event-navigator {
  white-space: nowrap;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
