<div class="rp-stepper-page">
  <p-stepper *ngIf="user" [value]="1" [linear]="true" #stepper>
    <p-step-item [value]="1">
      <p-step>Dati utente</p-step>
      <p-step-panel>
        <ng-template #content let-activateCallback="activateCallback">
          <div class="mr-4">
            <div class="mb-4 rp-subtitle">Controlla i tuoi dati. Se non sono corretti o hai bisogno di modificarli,
              contatta un amministratore.
            </div>
            <res-pong-user-user-data
              [user]="user"
              [error]="userError"
              [loading]="userLoading"
            ></res-pong-user-user-data>
          </div>
          <div class="py-4">
            <p-button label="Prosegui" [disabled]="userLoading || !!userError" (onClick)="activateCallback(2)"/>
          </div>
        </ng-template>
      </p-step-panel>
    </p-step-item>

    <p-step-item [value]="2">
      <p-step>Scegli la tua Password</p-step>
      <p-step-panel>
        <ng-template #content let-activateCallback="activateCallback">
          <div class="mr-4">
            <res-pong-user-password-form
              [username]="user.username"
              (stateChanged)="passwordFormStateChanged($event)"
              [showSubmitButton]="false"></res-pong-user-password-form>
          </div>
          <div class="flex py-4 gap-2">
            <p-button label="Indietro" severity="secondary" (onClick)="activateCallback(1)"/>
            <p-button label="Conferma Password" [disabled]="!passwordFormButtonEnabled" (onClick)="submitPasswordFormAndActivateCallback(3)"/>
          </div>
        </ng-template>
      </p-step-panel>
    </p-step-item>

    <p-step-item [value]="3">
      <p-step>Accedi</p-step>
      <p-step-panel>
        <ng-template #content let-activateCallback="activateCallback">
          <div class="mr-4">
            <div class="mb-4 rp-subtitle">Password impostata con successo. Clicca su prosegui per effettuare l'accesso.
            </div>
          </div>
          <div class="text-center mr-4" *ngIf="false">
            <img src="splash.jpg" style="place-self: center; max-width: 100%;">
          </div>
          <div class="flex py-4 gap-2">
            <p-button label="Vai al Login" (onClick)="goToLogin()"/>
          </div>
        </ng-template>
      </p-step-panel>
    </p-step-item>
  </p-stepper>

</div>
