<h2 *ngIf="title" class="rp-user-password-update">{{ title }}</h2>
<p class="rp-subtitle mb-4">Inserisci e conferma la tua nuova password (lunghezza minima: 6 caratteri).</p>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="mb-4">
    <p-floatlabel variant="on">
      <input id="username" type="text" pInputText formControlName="username" class="w-full" readonly/>
      <label for="username">Username</label>
    </p-floatlabel>
  </div>
  <div class="mb-4">
    <p-floatlabel variant="on">
      <p-password
        autocomplete="off"
        id="newPassword"
        formControlName="newPassword"
        size="large"
        toggleMask="true"
        required
        [feedback]="true"
        [toggleMask]="true"
        styleClass="w-full"
        [inputStyle]="{'width':'100%'}"
        promptLabel="🙂Scegli una password"
        weakLabel="😟 Debole"
        mediumLabel="😉 Media"
        strongLabel="😎 Forte">
        <ng-template #footer>
          <p-divider/>
          <span class="text-sm">Lunghezza minima: 6 caratteri</span>
        </ng-template>
      </p-password>
      <label for="newPassword" class="block mb-1">Nuova password</label>
    </p-floatlabel>
    <div class="rp-form-input-error" *ngIf="form.get('newPassword')?.touched && form.get('newPassword')?.errors">
      <span *ngIf="form.get('newPassword')?.errors?.['required']">Campo obbligatorio</span>
      <span *ngIf="form.get('newPassword')?.errors?.['minlength']">Minimo 6 caratteri</span>
    </div>
  </div>

  <div class="mb-4">
    <p-floatlabel variant="on">

      <p-password
        autocomplete="off"
        id="confirmPassword"
        formControlName="confirmPassword"
        size="large"
        toggleMask="true"
        required
        [feedback]="false"
        [toggleMask]="true"
        styleClass="w-full"
        [inputStyle]="{'width':'100%'}"
      ></p-password>
      <label for="confirmPassword">Conferma password</label>
    </p-floatlabel>
    <div class="rp-form-input-error"
         *ngIf="form.get('confirmPassword')?.touched && form.get('confirmPassword')?.errors">
      <span *ngIf="form.get('confirmPassword')?.errors?.['required']">Campo obbligatorio</span>
      <span *ngIf="form.get('confirmPassword')?.errors?.['minlength']">Minimo 6 caratteri</span>
    </div>
  </div>


  <div class="mb-2 flex items-center" *ngIf="showSubmitButton">
    <button [disabled]="loading || form.invalid" type="submit" pButton label="Invia" class="w-full"></button>
  </div>
  <div class="mb-2 mt-2" *ngIf="loading">
    <p-progress-bar mode="indeterminate" [style]="{ height: '6px' }"/>
  </div>
  <div class="mb-2 mt-2" *ngIf="form.touched &&
     form.get('newPassword')?.touched &&
     form.get('confirmPassword')?.touched &&
     form.errors?.['passwordsMismatch']">
    <p-message size="small" icon="pi pi-exclamation-circle" severity="error">Le password non coincidono.</p-message>
  </div>
  <div class="mb-2 mt-2" *ngIf="error">
    <p-message size="small" icon="pi pi-exclamation-circle" severity="error">{{ error }}</p-message>
  </div>
  <div class="mb-2 mt-2" *ngIf="successMessage">
    <p-message size="small" icon="pi pi-exclamation-circle" severity="success">{{ successMessage }}</p-message>
  </div>
</form>

@if (showLoginLink) {
  <div class="mt-3 text-center">
    @if (loading) {
      <span class="text-sm" style="color: #a3a3a3">Torna al login</span>
      <span class="text-400" style="margin-right: 5px;margin-left: 5px">-</span>
      <span class="text-sm" style="color: #a3a3a3">Recupera password</span>
    } @else {
      <a [routerLink]="['/login']" tabindex="-1" class="text-sm text-blue-600 hover:underline">Torna al login</a>
      <span class="text-400" style="margin-right: 5px;margin-left: 5px">-</span>
      <a [routerLink]="['/password-recovery']" tabindex="-1" class="text-sm text-blue-600 hover:underline">Recupera
        password</a>
    }
  </div>
}
