<p-menubar [model]="menu" #mb>
  <ng-template #start>
    <img src="favicon.jpg" alt="logo" style="width: 2rem;" class="hidden md:block" routerLink="/">
  </ng-template>
  <ng-template #menuicon>
    <img src="favicon.jpg" alt="logo" style="width: 2rem; margin-right: var(--p-menubar-gap)" class="block md:hidden">
    <i class="pi pi-bars" style="color: var(--p-menubar-mobile-button-color)"></i>

  </ng-template>
  <ng-template #end>
    <div class="flex align-items-center gap-2">
      <div>
        <p-button (click)="help()"
                  severity="secondary"
                  ariaLabel="Aiuto"
                  icon="pi pi-question-circle"
                  iconPos="left"
                  *ngIf="loggedIn$ | async">
        </p-button>
      </div>
      <div class="rp-menu-profile-button-container">
        @if (loggedIn$ | async) {
          <p-button (click)="menu.toggle($event)"
                    styleClass="rp-menu-profile-button"
                    severity="secondary"
                    [text]="true"
                    *ngIf="(user$ | async) as user">

            <div class="hidden md:block">{{ user.first_name }}</div>

            @if (user.avatar) {
              <p-avatar [image]="user.avatar" size="normal" shape="circle"/>

            } @else if (user.monogram) {
              <p-avatar [label]="user.monogram" size="normal" shape="circle"/>
            } @else {
              <p-avatar [label]="'...'" size="normal" shape="circle"/>

            }

          </p-button>

        }
      </div>
    </div>

    <p-menu #menu [model]="userMenu" [popup]="true" appendTo="body"></p-menu>

  </ng-template>
</p-menubar>
<p-block-ui [blocked]="loggingOut">
  <div class="flex align-items-center m-auto">
    <p-progress-spinner strokeWidth="3"></p-progress-spinner>
  </div>
</p-block-ui>
