.rp-timeline-marker-day {
  display: flex;
  flex-direction: column;
  gap: 0;
  border: 1px solid var(--p-surface-500);
  border-radius: 50%;
  padding: .7rem;
  aspect-ratio: 1;
  align-items: center;
  min-width: 50px;
  max-width: 50px;
  width: 50px;
  min-height: 50px;
  max-height: 50px;
  height: 50px;

  .rp-timeline-marker-day-number {
    font-size: .8rem;
    color: var(--p-surface-700);


  }

  .rp-timeline-marker-day-name {
    font-size: .6rem;
    color: var(--p-red-800);
    font-weight: 500;
  }
}

.rp-timeline-content-day {
  padding: .7rem 0;
  max-width: 250px;
  min-width: 240px;

  .rp-timeline-content-day-no-event {
    font-style: italic;
    color: var(--p-surface-700);
    font-size: .8rem;
  }
}

@media screen and (max-width: 575px) {
  .rp-timeline-content-day {
    min-width: unset;
  }
}
