.dataTables_wrapper .dataTables_length select {
    padding: 0 19px !important;
}
.dataTables_wrapper .dataTables_filter input {
    background: #f4f4f4 !important;
}
#rp-progress-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100000;
}

#rp-progress-overlay .rp-progress-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 4px;
}

button.rp-unsign,
.rp-button-danger {
    background: #d63638 !important;
    border-color: #d63638 !important;
    color: #fff !important;
}

button.rp-unsign,
.rp-button-danger:hover {
    background: #c72c2e !important;
    border-color: #c72c2e !important;
    color: #fff !important;
}
