.dataTables_wrapper .dataTables_length select {
    padding: 0 19px !important;
}

#rp-progress-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100000;
}

#rp-progress-overlay .rp-progress-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 4px;
}
