.user-info {
  display: flex;
  flex-direction: column;
  gap: .75rem;

  .user-field {
    .label {
      font-weight: bold;
    }

    display: flex;
    flex-direction: column;
    gap: .5rem;
  }


}
.rp-user-data-error-message {
  a {
    color: var(--p-red-700);
    text-decoration: underline;
    &:hover {
      color: var(--p-red-800);
    }
  }
}
