<res-pong-user-menu></res-pong-user-menu>
<res-pong-user-tutorial></res-pong-user-tutorial>
<div class="rp-content">
  <router-outlet/>
</div>
<p-divider></p-divider>
<div class="text-center flex flex-column items-center justify-center gap-2 mt-4 mb-4 overflow-hidden">
  <span class="text-300 text-sm">© {{ year }} Tennistavolo Morelli</span>
  <a href="https://tennistavolomorelli.it" tabindex="-1" target="_blank"
     class="text-sm text-blue-600 hover:underline">https://tennistavolomorelli.it</a>
  <a href="mailto:tennistavolomorelli@gmail.com" tabindex="-1" target="_blank"
     class="text-sm text-blue-600 hover:underline">{{ 'tennistavolomorelli@gmail.com' }}</a>

  <div><a href="https://tennistavolomorelli.it"></a></div>
  <span class="text-300 text-xs">RP {{ version }} - {{ build }}</span>

</div>
